@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'american';
    src: url(font/idroid.otf);
    font-weight: normal;
}

:root {
    --cor1: #1d01f5;
    --cor2: #3b40a6;
    --cor3: #0f69b7;
    --cor4: #211b4b;
    --cor5: #010127;
    --cor6: #4bb0e3;

    --font-padrao: "Open Sans", cursive;
    --font-destaque: 'american', arial;
}

main > article > p > abbr > a::after {
        content: '\1F517';
}
main > article > p > abbr > a {
    color: #ffffff;
    background-color: #CA2522;
    text-decoration: none;
}

main > article > p > abbr > a:hover {
    text-decoration: underline;
}

* {
    padding: 0px;
    margin: 0px;
}

#img {
    max-width: 700px;
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


body {
    background-color: rgb(233, 234, 206);
}

header {
    background-image: linear-gradient(to bottom, var(--cor6), var(--cor1));
    text-align: center;
    padding: 60px;
}

header h1 {
    color:white;
    font-family: var(--font-destaque);
    max-width: 1000px;
    display: block;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.800);
}

header p {
    font-family: var(--font-padrao);
    color: white;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.800);
}
nav {
    padding: 30px;
    font-family: var(--font-padrao);
    text-align: center;
    background-color: var(--cor1);
}

nav a {
    text-decoration: none;
    color: white;
    padding: 25px;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 50%;
}

nav a:hover {
    background-color: var(--cor1);
    transition-duration: .5s;
    box-shadow: 10px 10px 10px var(--cor4);
}

#a1 {
    padding: 24px 30px;
    border-radius: 50%;
}

#a2 {
    padding: 24px 30px;
    border-radius: 50%;
}

main {
    font-family: var(--font-padrao);
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}
main h2 {
    text-indent: 10px;
    line-height: 2em;
}

main img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

main p {
    line-height: 2em;
}

aside {
    background-image: linear-gradient(to bottom,#010127, var(--cor3));
    border-radius: 10px;
    padding: 10px;
}

aside p {
    text-indent: 10px;
    color: white;
    background-color: #010127;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    padding: 10px;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    list-style-position: inside;
}

video {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 50px;
}